a:hover,
.close-icon:hover {
    cursor: pointer;
}

a:focus {
    outline: none;
}

.post-images {
    width: 100%;
    height: 400px;
}

.post-edit-image {
    height: 250px;
    width: 250px;
}

.dialog-image {
    width: 100%;
    height: 600px;
}

.navbar-links a:hover {
    cursor: pointer;
}

.navbar-links a.active {
    border-bottom: 2px solid #000;
}

.dashboard-image:hover {
    cursor: zoom-in;
}

.padding-top-div {
    padding-top: 20vh;
}

body,
.App {
    margin: 0;
}

.dashboard-post-image {
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
    background-color: #000;
}

.middle {
    transition: .5s ease;
    opacity: 0;
}

.post-image-div:hover .dashboard-post-image {
    opacity: 0.8;
}

.post-image-div:hover .middle {
    opacity: 1;
}

textarea.form-control {
    height: 200px;
    border: 1px solid #ccc;
    padding: 10px
}

@media (max-width: 768px) {
    .dialog-image {
        height: auto;
    }
    .post-images {
        height: auto;
    }
    .post-edit-image {
        width: 100%;
    }
}