a:hover{
    cursor:pointer
}
.post-images{
    width: 100%;
    height: 300px;
}

.post-edit-image{
    height: 300px;
}

.dialog-image{
    width: 100%;
    height: 600px;
}

.navbar-links a:hover{
    cursor: pointer;
}

.navbar-links a.active{
    border-bottom: 2px solid #000;
}

.dashboard-image:hover{
    cursor: zoom-in;
}